---
import Layout from '../layouts/Layout.astro';
import theme from '../../../src/theme.js'
const { animation } = theme
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<header class="flex flex-col justify-center items-center">
			<h1 class="font-bold text-4xl mt-10">tailwindcss animations</h1>
			<h2 class="font-semibold text-xl mb-10">the plugin that you expected!</h2>
			<div class="mb-10">
				<code class="bg-slate-200 p-1 rounded-md">npm install @JuanMorales/tailwind-animated</code>
			</div>
		</header>

		<section class="max-5xl grid grid-cols-3 gap-4">
			{
				Object.keys(animation).map(animationKey => {
					return (
						<article class="col-span-1 border rounded border-b-gray-300 hover:border-b-gray-400 hover:shadow-lg bg-slate-200" data-class={animationKey}>
							<span class="p-4 flex gap-4 items-center justify-start h-full w-full overflow-hidden">
								<div class="size-16 bg-blue-500 rounded-lg flex items-center justify-center"></div>
								<h3 class="font-semibold text-xs opacity-80">{animationKey}</h3>
							</span>
						</article>
					)
				})
			}
		</section>
	</main>
</Layout>

<script>
	const articles = document.querySelectorAll('article')
	articles.forEach(article => {
		const animationKey = article.getAttribute('data-class')
		const animationClass = `animate-${animationKey}`

		const span = article.querySelector('span')
		const box = span?.querySelector('div')
		if (box == null) return
		article.addEventListener('mouseenter', () => {
			box.classList.add(animationClass)
		})

		article.addEventListener('mouseleave', () => {
			box.classList.remove(animationClass)
		})
	})
</script>

<style>

</style>
